$border-size: 1px;
$main-width: 500px;

.main {
  width: 90%;
  max-width: #{$main-width + ($border-size * 2)};
  margin: 5rem auto;
}

.container {
  display: flex;
  border: $border-size solid #888;

  .item {
    height: 6.25rem;
    width: 6.25rem;

    &--1 {
      background-color: red;
    }
    &--2 {
      background-color: green;
    }
    &--3 {
      background-color: blue;
    }
    &--4 {
      background-color: yellow;
    }
    &--5 {
      background-color: black;
    }
    &--align-items {

      &--1 {
        height: 2rem;
      }
      &--2 {
        height: 3rem;
      }
      &--3 {
        height: 1rem;
      }
      &--4 {
        height: 5rem
      }
      &--5 {
        height: 1rem;
      }
    }
    &--justify-content,
    &--wrap,
    &--align-content {

      &--1 {
        width: 2rem;
      }
      &--2 {
        width: 3rem;
      }
      &--3 {
        width: 1rem;
      }
      &--4 {
        width: 5rem
      }
      &--5 {
        width: 1rem;
      }
    }
  }
  &--align-items {

    &--1 {
      align-items: flex-start;
    }
    &--2 {
      align-items: flex-end;
    }
    &--3 {
      align-items: center;
    }
    &--4 {
      align-items: baseline;

        .item {

          &--1 {
            margin-top: 1rem;
          }
          &--2 {
            padding-top: 1rem;
          }
          &--4 {
            padding-top: 1.5rem;
          }
        }
    }
    &--5 {
      align-items: stretch;
      height: 8rem;

      .item {
        height: inherit;
      }
    }
  }
  &--justify-content {

    &--1 {
      justify-content: flex-start;
    }
    &--2 {
      justify-content: flex-end;
    }
    &--3 {
      justify-content: center;
    }
    &--4 {
      justify-content: space-between;
    }
    &--5 {
      justify-content: space-around;
    }
    &--6 {
      justify-content: space-evenly;
    }
  }
  &--wrap {

    &--1 {
      flex-wrap: wrap;

      .item {
        color: white;
        font-size: 1rem;
        text-align: center;
      }
    }

    &--2 {
      flex-wrap: nowrap;

      .item {
        color: white;
        font-size: 1rem;
        text-align: center;
      }
    }

    &--3 {
      flex-wrap: wrap-reverse;

      .item {
        color: white;
        font-size: 1rem;
        text-align: center;
      }
    }
  }
  &--align-content {

    &--1 {
      flex-wrap: wrap;
      height: 400px;
      align-content: flex-start;

      .item {
        color: white;
        font-size: 1rem;
        text-align: center;
      }
    }
    &--2 {
      flex-wrap: wrap;
      height: 400px;
      align-content: flex-end;

      .item {
        color: white;
        font-size: 1rem;
        text-align: center;
      }
    }
    &--3 {
      flex-wrap: wrap;
      height: 400px;
      align-content: space-between;

      .item {
        color: white;
        font-size: 1rem;
        text-align: center;
      }
    }
    &--4 {
      flex-wrap: wrap;
      height: 400px;
      align-content: space-around;

      .item {
        color: white;
        font-size: 1rem;
        text-align: center;
      }
    }
    &--5 {
      flex-wrap: wrap;
      min-height: 400px;
      align-content: stretch;

      .item {
        color: white;
        font-size: 1rem;
        text-align: center;
        height: inherit;
      }
    }
    &--6 {
      flex-wrap: wrap;
      height: 400px;
      align-content: center;

      .item {
        color: white;
        font-size: 1rem;
        text-align: center;
      }
    }
  }
  &--direction {

    &--1 {
      flex-direction: row;
    }

    &--2 {
      flex-direction: row-reverse;
    }

    &--3 {
      flex-direction: column;
    }

    &--4 {
      flex-direction: column-reverse;
    }
  }
  .order--1 {
    order: 1;
  }
  .order--2 {
    order: 2;
  }
  .order--3 {
    order: 3;
  }
  .order--4 {
    order: 4;
  }
  &--align-self {
    height: 400px;

    .flex-start {
      align-self: flex-start;
    }
    .flex-end {
      align-self: flex-end;
    }
    .center {
      align-self: center;
    }
    .baseline {
      align-self: baseline;
    }
    .stretch {
      align-self: stretch;
    }
  }
  &--flex-grow {

    .item {

      &.flex-grow {
        flex-grow: 1;
      }
    }
  }
}
